<div class="center hero-unit">
  <h1>Welcome to the Cutthroat App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.centralhockeyleague.com/teams/denver/">Cutthroat</a> Equipment App
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("Cuttthroat.jpg", alt: "Cutthroats"), 'http://www.centralhockeyleague.com/teams/denver' %>
